{% extends 'layouts/basicTemplate.html' %} {% block content %}

<h1 class="title">About</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est minima officia
  dolor, amet corporis earum reprehenderit vitae, necessitatibus facere alias
  similique aliquid. Sapiente dolorem minima blanditiis aliquid, reiciendis
  porro assumenda praesentium veniam temporibus saepe nostrum nisi dignissimos
  neque expedita illum perferendis rerum modi doloremque quod dolores enim alias
  exercitationem. Et mollitia illum doloribus dolorem. Dolorem, rerum expedita
  veritatis dolor tempora ipsa temporibus assumenda nulla voluptas quae libero
  illo mollitia officiis nobis. Eum esse mollitia excepturi consequatur non
  ipsam accusamus impedit aut repellendus voluptates deleniti officiis
  dignissimos neque sequi illo maxime, voluptas asperiores! Voluptates,
  praesentium totam. Quod culpa ratione aperiam ullam.
</p>

{% endblock %} {% block footer%}

<p>Website created by {{ username }}</p>

{% endblock %}
